.flex {
    display: flex;
}
.justify {
    display: flex;
    justify-content: center;
}
.align {
    display: flex;
    align-items: center;
}
html {
    font-size: 65%;
    font-family: 'Kaisei Tokumin', serif;
}
.text-center {
    text-align: center;
}