body {
    background: #cacaca;
 
}
@keyframes display {
  from { display: none;
  opacity: 0;}
  to { display: block;
  opacity: 1; }
}
@keyframes dropdown {
  from { top : -100%;}
  to {top : 0;}

}
.wraper {
    background: white;
    margin: 0 auto;
    background-image:url(../img/content-img/content.jpg);
    background-repeat: repeat;
    animation: display 2s ;
    animation-timing-function:ease-in-out;
    position: relative;
 overflow: hidden;
 padding: 0 10px;
   
}
/* header */
.header {
    background: #181818;
    color: rgb(238, 238, 238);
    padding: 10px 50px;
    position: fixed;
    z-index: 9;
    height: 115px;
    width: 1100px;
   max-width: 1100px;
    top: 0;
    box-shadow: 0 0 8px  rgba(131, 131, 131, 0.9);
    animation: dropdown 1s ;
    animation-timing-function:ease-in-out;
}

/* nav */
.navigation-container {
    margin-left : auto;
    display: flex;
    justify-content: space-around;
    
}
.navigation-container .list-menu {
    list-style-type: none;
    
}
.list-item-menu-link {
    color: inherit;
    margin-left: 24px;
    font-size: 1.6rem;
    text-decoration: none;
}

.navigation-container .list-item-menu .list-item-menu-link:hover {
    opacity: 0.7;
}
.box-container-small {
    display: none;
    position: relative;
    right: -60%;
    transition: right 1s;
    z-index: 10;
}
.small-menu-list {
    list-style: none;

}
.displaySmallMenu {
    right: 40px;
}
.small-menu-list .small-menu-list-item {
    margin-bottom: 10px;
    

}
/* smal menu button  */
.container-button-menu {
    display: inline-block;
    cursor: pointer;
    left: -20px;
    position: absolute;
    z-index: 999;
    top: 35%;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/* main */
.main-container {
    padding-top: 185px;
}
/* slide show */
.slides-container {
    position: relative;
    display:flex ;
    flex-direction: column;
    align-items: center;
}
/* banner-list */
.banner-container-list {
   width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -48px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(41, 41, 41, 0.8);
  }
  .prev {
      left: 10px;
  }
  .next {
    right: 10px;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.dot-container {
    bottom :40px;
    padding: 5px 0;
}
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.banner-image-container {
    width: 1180px;
    height: 550px;
    border-radius: 7px;
    overflow: hidden;
   
}
.banner-img {
    width:100%;
    height: 100%;
    max-width: 100%;
}

.banner-shadow-img-box img{
    width: 100%;
}
.sparator {
    margin-bottom : 12px;
}
.section-content {
    margin: 12px auto;
}
.content-img-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

   
}
.content-img-wrapper img{
    width: 48%;
    height: 48%;
    border-radius : 12px;
    box-shadow: 0 0 8px  rgba(131, 131, 131, 0.9);
}
.content-img-wrapper img:hover {
    -webkit-transform:translateY(-2px);
    transform: translateY(-2px);
    
}

/* modal css */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 1000px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 28px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
.slides-content-img-container {
    width: 1180px;
    position: relative;
    margin: 0 auto;

}
.content-img-wrapper-box {
    margin:  auto;
    display:flex;
    justify-content: space-between;
    border-radius : 12px;
    overflow: hidden;
    margin-bottom: 24px;
    margin-top: 12px;

}
.content-img-wrapper-box img {
    width: 33.15%;
    min-height: 312px;
    max-width: 100%;
    transition: 1s;
    
}
.content-img-wrapper-box img:hover{
    -webkit-transform: scaleY(110%);
    transform: scaleY(110%);
}
.content-img-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.content-img-grid-wrapper img {
    width: 32%;
    height: 40%;
    margin: 10px auto;
    border-radius: 12px;
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.6)
   
}
.content-img-grid-wrapper img:hover{
box-shadow: 0 0 6px  rgba(131, 131, 131, 0.9);
-webkit-transform: translateY(-2px);
transform: translateY(-2px);

}
footer {
  background:#2f5d5e;
  padding-bottom: 10px;
}
.text-wraper{
    box-sizing: border-box;
    background-image: url(../img/banner-img/banner-bottom.jpg);
    background-color:rgba(0, 0, 0, 0.568);
    background-position:top; 
    height: 150px;
    background-size: cover;
    padding: 50px;
    transition: 1s;
    font-size: 48px;
    color: white;
}
.text-wraper:hover {
    background-position: bottom ;
    color: rgba(255, 255, 255, 0);
}

/* sub css */
.info-area-travel {
    width: 40%;
    font-size: 1.6rem;
}
.vietnam-flag  {
display: flex;
flex-wrap: nowrap;
}
.vietnam-flag img {
    width: 120px;
    height: 70px;
}
.vietnam-flag h3 {
    font-size: 3.2rem;
    margin-left: 20px;
    color: #af0d0d;
}
.vietnam-info-box {
    display: flex;
    flex-wrap: wrap;
}
.info-area p {
    font-size: 1.6rem;
}.info-hanoi-area {
    flex: 30%;
    display: flex;
    flex-direction: column;

}
.right-box-wrapper {
    width: 70%;
}
.main-box-content {
    display: flex;
    flex-wrap: wrap;
}
.right-box-wrapper{
    padding: 0 10px;
}
.main-box-content-left p ,.main-box-content-left h3 {
    margin: 5px 0;
}
.i-map {
  width: 60%;
}
.i-map p {
  font-size:1.6rem;
}
.i-map img{
  box-shadow : 0 0 10px rgb(121, 121, 121)

}
.box-content-area {
  font-size:1.6rem;
  box-shadow : 0 0 8px  rgba(131, 131, 131, 0.9);
  padding: 15px;

}
.content-area-title {
  background-color:#ffb4b4;
  padding: 5px 0;
}
.box-content-area-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.box-content-area-right p {
  padding: 0 10px;
  margin : 0
}
.box-content-area-right-sub-content {
  background-color:#ddeef5;
  transform:translateY(-3px);
  
}